<h1><%=@fact.title%></h1>
<img src="<%=@fact.image_url%>" alt="fact's image">
<p><%=@fact.description%></p>

<p><%=@fact.comments%></p>

<form action="/fact/comments" method="post">

<label>Add A Comment</label>
<input type="text" name="<%=@fact.id%>[comments]" id="comment.id">

<input type="submit" value="submit">
</form>

<a class="button" href="/categories">Categories</a><br>
<a class="button" href="/account">Account</a>
