<h1><%=@fact.title%></h1>
<img src="<%=@fact.image_url%>" alt="fact's image">
<p><%=@fact.description%></p>

<h2>Comments</h2>

<% @fact.comments.each do |comment| %>
  <% user = User.find_by_id(comment.user_id)%>
  <p><%=user.username%>: <%=comment.text %></p><br>
<%end%>

<form action="/fact/comments" method="post">

<label>Add A Comment</label>
<input type="text" name="<%=@fact.id%>[comments]" id="comment.id">

<input type="submit" value="submit">
</form>
<a class="button" href="/fact/comments/edit/<%=@fact.id%>">Edit Comments</a><br>
<a class="button" href="/categories">Categories</a><br>
<a class="button" href="/account">Account</a><br>
<a class="button" href="/logout">Logout</a><br>
