<h1>Welcome to your account</h1>
<h2>You have <%= User.facts.size %> facts saved </h2>

<label><h4>Facts</h4></label>
<% User.facts.each do |fact| %>
  <label><%= fact.title %></label>
  <label><%= fact.description%></label>

  <a href="/fact/<%=fact.name%>"><%=fact.name%></a>

<% end %>

<a class="button" href="/categories">Categories</a>
<a class="button" href="/account/edit">Edit Account Information</a>
<a class="button" href="/fact/delete">Delete Fact</a>
